.fab-container {
  position: fixed;
  top: 35px;
  right: 25px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  border-right: none;
  box-shadow: 1px 0 4px rgb(0,0,0,.24)
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.flex-stretch {
  flex: 1 0 auto;
}
